/* Foglio di stile CSS predefinito per un nuovo progetto di applicazione Web */

BODY
{
	
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;



	
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}

.CasellaDiTesto
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 10px;
	border-left: lightgrey 1px solid;
	color: #4f4f4f;
	border-bottom: lightgrey 1px solid;
	font-family: Verdana;
	height: 18px;
	background-color: #fafafa;
}

.CasellaDiTestoN
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 10px;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
	font-family: Verdana;
	height: 18px;
	text-align:right;
	background-color: #fafafa;
}

.CasellaTestoOpNa
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 10px;
	border-left: lightgrey 1px solid;
	border-bottom: lightgrey 1px solid;
	font-family: Verdana;
	height: 18px;
	display : none;
}

.ReadOnly
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	font-size: 10px;
	border-left: lightgrey 1px solid;
	color: dimgray;
	border-bottom: lightgrey 1px solid;
	font-family: Verdana;
	height: 18px;
}
.titoloGrid
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	font-family: Verdana;
	font-variant: normal;
}

.Etichetta
{
	border-right: gray 2px;
	border-top: gray 2px;
	font-weight: normal;
	font-size: 10px;
	border-left: gray 2px;
	border-bottom: gray 2px;
	font-family: Verdana;
}

.EtichettaLogo
{
	border-top-width: 2px;
	font-weight: bold;
	border-left-width: 2px;
	font-size: 9px;
	border-left-color: gray;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	color: #000099;
	border-top-color: gray;
	font-family: Verdana;
	border-right-width: 2px;
	border-right-color: gray;
}
Etichetta_large
{
	border-right: gray 2px;
	border-top: gray 2px;
	font-weight: bolder;
	font-size: 12px;
	border-left: gray 2px;
	border-bottom: gray 2px;
	font-family: Verdana;
}

.TitoloForm
{
	font-size: 11px;
	color: darkorange;
	font-variant: small-caps;
}

.Pulsante
{
	font-weight: bold;
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.MultiPage
{
	border-left: black 1px solid;
	border-right: black 1px solid;
	border-bottom: black 1px solid;
	background-color: White;
}
.Messaggio_errore
{
	font-family:Verdana Arial;
	color: Red;
	font-weight:bolder;
	font-size: xx-small;
	text-align: center;
}
.Messaggio
{
	font-family:Verdana Arial;
	color: Blue;
	font-weight:bolder;
	font-size: xx-small;
	text-align: center;
}
.Shadow
{
	filter: progid:dximagetransform.microsoft.dropshadow(offx=2, offy=2, color= 'gray' , positive= 'true' );
}


.Ceck
{
	border-right: gray 2px;
	border-top: gray 2px;
	font-weight: bold;
	font-size: 10px;
	border-left: gray 2px;
	border-bottom: gray 2px;
	font-family: Verdana;
}
.EtichettaAlign
{
	text-align :center;
}